<div id="listp"  >
  <h4>MANTENIMIENTO PRODUCTOS</h4>
  <div>
    Código<input id="txtcodigo" type="text" />
    Title
    <input id="txttitle" type="text" />
    Categoría
    <input id="txtcategoria" type="text" />
  </div>
  <br />
  <div>
    Descripción<input id="txtdescripcion" type="text" />
    Price<input id="txtprice" type="number" />
    Stock<input id="txtstock" type="number" />
  </div>

  <button
    id="btnadicionar"
    style="background-color: green;color:white;border-radius:6px"
  >Adicionar</button>

</div>
<br />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./socket.io/socket.io.js"></script>
<link rel="stylesheet" href="css/index.css" />
<script src="/js/realTimeProducts.js"></script>

<div id="divlist">

  {{#each productos}}

    <div class="tarjeta">
      <br />
      id :{{this.id}}
      <br />
      categoría :
      {{this.categoria}}
      <br />
      code :
      {{this.code}}
      <br />
      description :
      {{this.description}}
      <br />
      price :
      {{this.price}}
      <br />
      stock :
      {{this.stock}}
      <br />
    </div>
    <br />
  {{/each}}

</div>